{% extends 'base.html' %}
{% block content %}
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid">
                <h1 class="mt-4">Пользователи</h1>
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-table mr-1"></i>
                        Пользователи
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                <tr>
                                    <th>Статус</th>
                                    <th>Создан</th>
                                    <th>id</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for order in orders %}
                                    {% if order.is_active %}
                                    <tr>
                                            <td>
                                            {{ order.status }}
                                        </td>
                                        <td>{{ order.created }}</td>
                                        <td><a href="{% url 'admins:update_status' pk=order.id  %}" style="color: dodgerblue">{{ order.id }}</a></td>
                                    </tr>
                                    {% endif %}
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <footer class="py-4 bg-light mt-auto">
            <div class="container-fluid">
                <div class="d-flex align-items-center justify-content-between small">
                    <div class="text-muted">Copyright &copy; GeekShop 2021</div>
                </div>
            </div>
        </footer>
    </div>
{% endblock %}

